body{
	margin: 0;
	padding: 0;
	font-family: 'Acme', sans-serif;
}

.oswald{font-family: 'Oswald', sans-serif;}
.pacifico{font-family: 'pacifico', cursive;}
.lobster{font-family: 'Lobster', cursive;}
.acme{font-family: 'Acme', sans-serif;}

#hov{color: white;}
#hov:active{color: gold;}
#hov:hover{color: gold; background-color: black;}
#navbarDropdown{color: white;}
#navbarDropdown:active{color: gold;}
#navbarDropdown:hover{color: gold;}

.scroll::-webkit-scrollbar {width: 0.5rem;}
.scroll::-webkit-scrollbar-track {background: black;}
.scroll::-webkit-scrollbar-thumb {background: rgb(117, 92, 27);}
body::-webkit-scrollbar-track {background: #1e1e24;}
body::-webkit-scrollbar-thumb {background: rgb(179, 137, 34);}
body::-webkit-scrollbar {width: 0.5rem;}

.btn-outline-gold{color:gold;border:10px solid gold;}
.btn-outline-gold:hover{color:#fff;background-color:gold;border-color:gold}
.btn-outline-gold.focus,
.btn-outline-gold:focus{box-shadow:0 0 0 .2rem rgba(208, 255, 0, 0.5)}
.btn-outline-gold.disabled,
.btn-outline-gold:disabled{color:gold;background-color:transparent}
.btn-outline-gold:not(:disabled):not(.disabled).active,
.btn-outline-gold:not(:disabled):not(.disabled):active,.show>
.btn-outline-gold.dropdown-toggle{color:#fff;background-color:gold;border-color:gold}
.btn-outline-gold:not(:disabled):not(.disabled).active:focus,
.btn-outline-gold:not(:disabled):not(.disabled):active:focus,.show>
.btn-outline-gold.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(238, 255, 0, 0.5)}


.parallaxed { 
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover; 
} 

.main-tag{
	height: 97vh; 
	background-image: url('images/view2.jpg');
}

.block{
	height: 50px;
	width: 50px;
	top: -14%;
	left: 44%;
	border: 5px solid white;
	padding: 0;
	margin: 0;
	background-color: goldenrod;
	position: absolute;
}

.world-map{
	background-image: url('images/world\ map.jpg'); 
	height: 100%; 
	margin-top:5vh;
}

.a-box i{font-size: 2rem;}

a.a-box{
	height: 5.5rem;
	width: 16.5rem;
	font-size: 1.3rem;
	display: block;
	padding: 5px;
	margin:0.5rem;
	border: 2px solid goldenrod;
	text-decoration: none;
	color: rgb(221, 220, 220);
}

a.a-box:hover{ 
	color: black;
	background-color: goldenrod;
	transition: all 0.5s;
}

.map-one, .map-two, .map-three{margin: 2rem 1rem 2rem 1rem;}

.map-one:hover .block, .map-two:hover .block, .map-three:hover .block{
	background-color: rgb(255, 255, 255);
	color: goldenrod;
	transition: all ease 0.5s;
}

.btng{display:inline-block;font-weight:400; color:#ffffff;text-align:center;vertical-align:middle;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color:transparent;border:1px solid gold;padding:.375rem .75rem;font-size:1rem;line-height:1.5;border-radius:.25rem;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
@media (prefers-reduced-motion:reduce)
{.btng{transition:none}}.btng:hover{color:#212529;text-decoration:none}
.btng.focus,.btng:focus{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25)}
.btng.disabled,.btng:disabled{opacity:.65}
.btng:not(:disabled):not(.disabled){cursor:pointer}
a.btng.disabled,fieldset:disabled a.btng{pointer-events:none
}

.btnw{border: 3px solid white !important; z-index: 200;}

.icons-g{font-size: 3rem;}

body{
	margin: 0;
	padding:0;	
	background-color: rgb(0, 0, 0);
}

.nav-filled {-ms-flex:1 1 auto;flex:1 1 auto;text-align:center}

a.social{
	color: white; 
	font-size: 1.3rem;
}

a.social:hover {
	color: rgb(218, 187, 11);
	z-index: 500;
}

.form-group-float{position:relative;}

.form-control-float{
    position: relative;
    display: block;
    background-color: transparent;
    margin: 5px auto;
    padding: 20px;
    outline: none !important;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    transition: all .2s ease-in-out;
}

.form-control-float:focus{box-shadow:none;
    background-position: left bottom;
    background-size: 100% 1px;
  }

.label-float{
    position: absolute;
    text-align: left;
    display: block;
    background: transparent;
    color: white;
    margin: 0px auto;
    cursor: text;
    transition: all .15s ease-in-out;
    left:30px; 
    top:10px;
}
.form-control-float::placeholder{color: transparent;}
.form-control-float:focus + .label-float, .form-control-float:not(:placeholder-shown) + .label-float{left:15px; top:-20px; color: goldenrod; width: auto; }

.prod-title{font-family: 'Oswald', cursive;}

.a-contact{color:goldenrod;}
.a-contact:hover{color: gold; text-decoration: none;}

.fontmin{font-size: 1rem;}

@media screen and (max-width: 600px){
	.icons-g{font-size: 2rem; padding-top: 15px}
	.prod-title{font-size: 1rem;}
	a.a-box{
		height: 4rem;
		width: 4rem;
		margin: 0.5rem;
		padding: 0;
	}
	.d-nonee{display: none;}
}

@media screen and (min-width: 601px){
	.icons-g{font-size: 2rem;}
	.c-width{margin: 4rem 6rem;}
}