:root {
  font-size: 16px;
  --text-primary: #37f2ff;
  --text-secondary: #37f2ff9c;
  --bg-primary: #000000;
  --bg-secondary: #9494943b;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: rgba(238, 238, 238, 0.925);
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #37f2ff9c;
}

.main-custom {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar-custom {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 200ms ease;
  overflow: hidden;
}

.navbar-nav-custom {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item-custom {
  width: 100%;
}

.nav-item-custom:last-child {
  margin-top: auto;
}

.nav-link-custom {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.link-text-custom {
  display: none;
  margin-left: 1rem;
}

.nav-link-custom i {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link-custom:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

/* .navbar:hover {
  width: 16rem;
} */

.navbar-custom:hover {
  display: block;
}

@media only screen and (max-width: 600px) {
  .navbar-custom {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo-custom {
    display: none;
  }

  .navbar-nav-custom {
    flex-direction: row;
  }

  .nav-link-custom {
    justify-content: center;
  }

  .main-custom {
    margin: 0;
  }
  .link-text-custom {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar-custom {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar-custom:hover {
    width: 16rem
  }

  .navbar-custom:hover .link-text-custom {
    display: inline;
  }
   
  .link-text-custom
}
