.parallax {

    /* Set a specific height */
  min-height: 588px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#one
  {
    background-image: url("/images/one.png");
  }

#two
  {
    background-image: url("/images/two.png");
  }

#three
{
  background-image: url("/images/three.png");
}

#four
  {
    background-image: url("/images/four.png");
  }

#five
  {
    background-image: url("/images/five.png");
  }

#six
  {
    background-image: url("/images/six.png");
  }

#seven
  {
    background-image: url("/images/seven.png");
  }
