.gradient {
    background-color: #fadbda;
  }

  body {
    font-family: 'Roboto Condensed', sans-seriff;
    overflow-x:hidden;
  }
  
  /* @media screen and (max-width: 756px){
  } */

  .image-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @media screen and (max-width: 700px) {
    .image-responsive {
      width: 100px;
      height: 100px;
    }
  }  