.hide {
    display: none;
    position: absolute;
    background-color: #d39696;
    border: 2px solid black;
    color: black;
  }
  
  .info:hover + .hide {
    display: block;
    color: white;
  }

 td {
    border-bottom: 1px solid white;
  }

  @media screen and (max-width: 600px) {

  }